* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Footer {
    background-color: #393E46;
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    padding: 0px 30px;
    margin: 20px 10px;
    /* border-top: 2px solid #FFD369; */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.content {
    display: flex;
}

.copyright h3 {
    margin-left: 15px;
}

.content a {
    text-decoration: none;
    color: #EEEEEE;
    margin: 0px 15px;
}