* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Footer {
    background-color: #393E46;
    color: #A27B5C;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
    padding: 0px 30px;
    margin: 20px 10px;
    border: none;
    border-radius: 15px;
}

.content {
    display: flex;
}

.copyright h3 {
    margin-left: 15px;
}

.content a {
    text-decoration: none;
    color: #A27B5C;
    margin: 0px 15px;
}