* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Footer {
    background-color: #393E46;
    color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: auto;
    padding: 0px auto;
    margin: 0px 10px 10px 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.content {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content ul {
    padding: 0px 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
    gap: 2px;
}

.content a {
    text-decoration: none;
    color: #EEEEEE;
}

.bton {
    background-color: inherit;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 10px;
    transition: all 0.3s ease-in-out;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    padding: 0px 2%;
}

.copyright p {
    font-size: 18px;
}