*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar {
    background-color: #8FA2A6;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 32px;
    padding: 8px 16px;
    margin: 10px 10px;
    border: none;
    border-radius: 15px;
}

.siteTitle {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 600;
    text-decoration: none;
    color: #8FA2A6;
}

.radiopoLogo{
    margin-right: 20px;
    padding: 5px;
    width: 75px;
    filter: invert(53%) sepia(37%) saturate(407%) hue-rotate(345deg) brightness(89%) contrast(89%);
}

.Navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.Navbar a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
}

.btn {
    background-color: inherit;
    color: #333333;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    margin: 0px 18px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #728185;
}
