* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.commands-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    align-self: auto;
    color: #EEEEEE;
}

.command {
    width: 25%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #FFD369;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all 0.3s ease-in-out;
}

p {
    transition: all 0.3s ease-in-out;
}

.command a {
    color: #EEEEEE;
}
.command p {
    opacity: 0;
    /* margin: 5px; */
}

.command:hover p {
    opacity: 100;
}