* {
    box-sizing: border-box;
    clear: both;
}

body {
    margin: 0;
}

.commands-container {
    min-width: 50%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: auto;
    color: #EEEEEE;
}

.command {
    min-width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #FFD369;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: all 0.3s ease-in-out;
}

p {
    transition: all 0.3s ease-in-out;
}

.command a {
    color: #EEEEEE;
}

.command h3 {
    font-size: 20px;    
}

.command p {
    opacity: 0;
    margin: 10px 10px;
    font-size: 18px;
}

.command:hover p {
    opacity: 100;
}