* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    border: none;
    width: 1000px;
    padding-left: 20px;
    padding-right: auto;
    margin: 20px -100px 20px 10px;
    background: rgb(255,211,105);
    background: linear-gradient(90deg, rgba(255,211,105,1) -5%, rgba(251,245,245,0) 90%);
    border-radius: 20px;
}

.text-upper h3 {
    color: #222831;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-lower h3 {
    color: #222831;
    font-size: 30px;
    margin-top: 40px;
}

.main {
    display: flex;
}

.radiopo-logo {
    margin-top: 10px;
    width: 400px;
    filter: invert(10%) sepia(1%) saturate(0%) hue-rotate(226deg) brightness(98%) contrast(84%);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.invite-btn {
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #393E46;
    color: #EEEEEE;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.3s ease-in-out;
}

.invite-btn:hover{
    cursor: pointer;
    background-color: #2b2f36;
}