* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    border: none;
    width: 1000px;
    padding-left: 20px;
    padding-right: auto;
    margin: 20px -100px 20px 10px;
    background: rgb(143,162,166);
    background: linear-gradient(90deg, rgba(143,162,166,1) 2%, rgba(251,245,245,0) 100%);
    border-radius: 20px;

}

.text-upper h3 {
    color: #333333;
    font-size: 85px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-lower h3 {
    color: #333333;
    font-size: 30px;
    margin-top: 40px;
}

.main {
    display: flex;
}

.radiopo-logo {
    margin-top: 10px;
    width: 400px;
    /* filter: invert(67%) sepia(21%) saturate(199%) hue-rotate(143deg) brightness(92%) contrast(83%); */
    filter: invert(65%) sepia(40%) saturate(185%) hue-rotate(143deg) brightness(93%) contrast(88%);
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.invite-btn {
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #8FA2A6;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.invite-btn:hover{
    cursor: pointer;
    background-color: #728185;
}